/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --paragraph-style: #F1B2CE;
  --decorate-color: #FF007066;
  --bacground-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --paragraph-text-color: #000028;
  --color-title: #DB00FF;

}

.theme-dark .page {
  background-color: var(--bg-color);
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button:focus {
  outline: none;
}

.theme-dark .header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.theme-dark .decorated-zone::before {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.theme-dark .decorated-zone::after {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.theme-dark .title__decor {
  background-color: var(--accent-color);
  color: var(--paragraph-text-color);
  font-family: var(--font-family), sans-serif;
  font-size: var(--article-size);
  line-height: var(--line-height);
}


.theme-dark .problem__concentrating-title {
  color: var(--accent-color);
}

.theme-dark .problem__concentrating-article--title_multitasking {
  color: var(--paragraph-text-color);
}

.theme-dark .problem__concentrating-article--title_dopamine {
  color: var(--paragraph-text-color);
}

.theme-dark .effect__on-concentration--title {
  color: var(--accent-color);
}

.theme-dark .advice__title {
  color: var(--accent-color);
}

.theme-dark .advice__article-title {
  color: var(--paragraph-text-color);
}

.theme-dark .paragraph__title {
  color: var(--paragraph-text-color);
}

.theme-dark .section__images--title {
  color: var(--paragraph-text-color);
}

@media (width >= 1024px) {

  .theme-dark .header__theme-menu-button:hover {
    border-bottom: 1px solid var(--decorate-color);
  }

  .theme-dark .header__theme-menu-button:focus{
    outline: none;
  }

  .theme-dark .header__theme-menu-button:focus-visible {
     display: block;
    outline: 1px solid var(--decorate-color); 
  }
}
